.banner-project {
    width: 100%;
    min-height: 120px;
    background-color: rgb(131, 181, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .left-content {
        padding: 5px 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title {
            color: #ffffff;
            font-size: 25px;
            font-weight: bold;
        }
        .content {
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
        }
    }
    .right-content {
        padding-right: 100px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 245px;
            height: 46px;
            background-color: #075E8E;
            border-radius: 23px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            .icon-phone {
                display: none;
            }
            &:hover {
                cursor: pointer;
                .icon-phone {
                    display: inline;
                } 
            }
        }
    }
    @media screen and (max-width: 800px) {
        flex-direction: column;
        padding: 20px 0;
        .left-content {
            justify-content: center;
            align-items: center;
            .title {
                font-size: 20px;
            }
            .content {
                text-align: center;
            }

        }
        .right-content {
            padding: 20px 0;
            justify-content: center;
            align-items: center;
        }
    }
}