.custom-carousel {
    width: 100%;
    position: relative;
    .img-content {
        width: 100%;
        height: auto;
        object-fit: cover!important;
        top: 0;
        img {
            border-radius: 5px;
        }
    }
    .active-left {
        display: flex;
    }
    // .active-right {

    // }
    .inactive-left {
        display: none;
    }
    // .inctive-right {

    // }
}