.icon-project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px;
    .left {
        display: flex;
        justify-content: space-between;
        .elm-left {
            width: 113px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 15px;
            .icon {
                width: 47px;
                object-fit: cover;

            }
            .title {
                font-size: 20px;
                font-weight: bold;
                color: #333333;

            }
            .description {
                font-size: 24px;
                font-weight: bold;
                color: #c0c0c0;
            }
        }
    }
    .center {
        display: flex;
        width: 268px;
        object-fit: cover;
        img {
            animation-name: scale-logo;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }
    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .center {
            width: 100%;
            justify-content: center;
        }
    }
}

@keyframes scale-logo {
    0% {
        transform: scale(1);
    };
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    };
}